@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #8294C4;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}


.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #ACB1D6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 55px;
    height: 55px;
    margin: 10px
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 30px;
    color: white;
}

input{
    display: none;
}